.main {
    margin-left: 5rem;
    margin-right: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
