.searchContainer {
    display: flex;
    justify-content: center;

    padding-top: 2rem;
}

.searchBox {
    position: relative;
}
.searchButton {
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
    height: 100%;
    border: none;
    background: none;
    font-size: 20px;
    &:focus {
        outline: none;
        border: 1px solid #ffe49c;
        box-shadow: 0 0 5px #d6ed27;
    }
}
.searchInput {
    height: 35px;
    width: 200px;

    transition: width 1s ease-out;

    border-radius: 25px;
    padding: 5px 40px 5px 20px;
    background-color: rgba(240, 255, 255, 0.917);
    border: 2px solid rgba(240, 255, 255, 0.917);
    font-size: 18px;
    &:hover {
        width: 300px;
        transition: width 1s ease-in-out;
    }
    &:focus {
        outline: none;
        border: 2px solid #ffe49c;
        box-shadow: 0 0 5px #d6ed27;
    }
}
