.footer {
    position: bottom;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 1rem;
    background-color: #008080;
    height: auto;

    /* padding-top: 5px; */
    color: #c7f8f8;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 50px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
}
.content p {
    margin: 10px auto;
    margin-top: 1px;
    padding-left: 55px;
    line-height: 28px;
    font-size: 18px;
    color: #a3f8f8;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    list-style: none;
    position: relative;
    background-color: #008080;
}

.socials a {
    background-color: #008080;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    width: 30%;
    transition: color 0.4s ease;
}

.socials a:hover {
    color: #c7f8f8;
}

@media (max-width: 560px) {
}
