.movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    & h1 {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        font-size: 2rem;
        margin: 40px;
        margin-left: 30px;
        color: #ffe49c;
        text-shadow: #c7f8f8 0px 0px 0px, #c7f8f8 0px 0px 50px,
            #d6ed27 0px 0px 1px;
    }
}

@media (max-width: 560px) {
    .movies {
        justify-content: center;
        margin-left: 0rem;
        margin-right: 0rem;
    }
}
