.popularMovies {
    display: flex;
    text-align: flex-start;
}

.movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5rem;
}

@media (max-width: 560px) {
    .movies {
        justify-content: center;
        margin-left: 0rem;
        margin-right: 0rem;
    }
}
