.container {
    display: flex;
    flex-wrap: wrap;
    height: 22rem;
    width: 15rem;
    background-color: rgb(190, 182, 182);
    justify-content: space-around;
    border-radius: 10px;

    margin-top: 10px;
}

.serie {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    position: relative;

    overflow: hidden;

    & img {
        height: 100%;
        width: 116%;
    }

    &:hover {
        .description {
            bottom: 0;
            width: 100%;
        }
    }
    .description {
        height: 250px;
        width: 100%;
        background-color: rgba(39, 34, 34, 0.5);
        position: absolute;
        bottom: -200px;
        transition: bottom 0.5s;

        & b {
            font-size: large;
            display: block;
            padding-bottom: 10px;
            padding-top: 10px;
        }

        & p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 9;
            -webkit-box-orient: vertical;
            // transform: translate(-10%, -55%);
            // -ms-transform: translate(-10%, -55%);
            margin-left: 1rem;
            padding-right: 1rem;
        }
    }

    &:hover {
        opacity: 0.9;
    }
}

@media (max-width: 560px) {
    .serie {
        justify-content: center;
        margin-left: 0rem;
        margin-right: 0rem;
    }
}
