body {
    margin: 0;

    background-color: rgb(37, 36, 36);

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.page-separator {
    display: flex;
    flex-direction: column;
}

main {
    min-height: 74vh;

    display: flex;
    flex-direction: column;

    text-align: center;
    color: aliceblue;
}
